.profile__edit-button {
    margin: 0;
    margin-top: 37px;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    border-width: 0;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../images/editbutton.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 500px) {
    .profile__edit-button {
        margin-top: 35px;
        width: 18px;
        height: 18px;
        margin-left: 12px;
        background-image: url(../../../images/editbutton320.png);
    }}