.header__logo {
    width: 50px;
    height: 50px;
    margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 30px;
        height: 30px;
       /* margin-bottom: 31.6px;
        margin-left: 27px;*/
    }
}
