.header {
    margin: 0;
    max-width: 68.7%;
    border-bottom: 1px solid #545454;
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
   /* width: calc(100% - 96px);*/
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 100%;
        margin-top: 28px;
}
}
